<h1>welcome/index</h1>

<h2>Welcome to X/O Super Game!</h2>

<br>
<br>

<% if current_user  %>


    <a href="/rooms" class="center-block btn-submit text-center" style="width: 200px;">
      Games
    </a>
<% end %>

<!-- общая кнопка,на создание игр  откправляет на room/create-->


